.App {
  display: flex;
  flex-direction: column;
}

.renardPensant {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  width: auto;
  filter: drop-shadow(0px 0px 50px rgba(255, 215, 0, 0.5));
}
